.quest-supporter {
    display: block;
    font-size: 0.6em;
    opacity: 0.8;
    margin-top: 2px;
}

.quest-objectives {
    margin: 6px 0 0 0;
    padding-left: 16px;
    font-size: 0.65em;
    list-style: square;
}
